:root {
    --length: 259;
    --color1: blue;
}

body {
    background-image: url("background.jpg");
}

h1 {
    font: optional;
}

#headerContainer {
    /* position: ; */
    top:0px;
    margin: auto;
    width: fit-content;
    font-size:xx-large;
    text-align: center;
    color:white;
    border-radius: 5px;
    border-style: solid;
    border-color: red;
}

.headerContainer {
    background-color: black;
}

.infoCard {
    bottom:0px;
    margin:auto;
    width:fit-content;
    font-size: x-large;
    background-color: black;
    padding: 10px;
    border-radius: 1px;
    border-style: solid;
    text-align: center;
    text-decoration: underline;
    color: red;
    text-decoration-color: blue;
    border-color: green;
}

#pageContainer {
    /* display: flex;
    flex-wrap: wrap; */
    /* top: 75px; */
    width: 100%;
}

.pageContainer {
    background-color: aqua;
}

.text {
    /* margin-top:; */
    color: white;
    font-size: 20px;
}

#displayCard {
    display: grid;
}

#image {
    border-radius: 5px;
    border-style: solid;
    margin: auto;
    width: 50%;
    /* height: 50%; */
    /* grid-column: 2 / span 1; */
    grid-row: 1;
}

.descript {
    /* width:200px; */
    text-align: center;
    /* height: 200px; */
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
    background-color: var(--color1);
    /* grid-column: 1 / span 1; */
    grid-row: 1;
}

#menuContainer {
    margin:auto;
    width: fit-content;
    
    /* gap: 1; */
    background-color: red;
    
    /* height: 100px; */
    /* opacity: 0.6; */
    /* position: relative; */
    /* flex-wrap: wrap; */
    /* align-items:stretch; */
    /* align-self: center; */
}

#menuItems {
    grid-row: 2;
    grid-column: 1 / span 5;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.picture {
    width: 100px;
    height: 100px;
}

.menuItem {
    width: fit-content;
    height: fit-content;
    /* height: min-content; */
    /* height: max-content; */
    /* height: 600px; */
    /* position: relative; */
    /* left:-250px; */
    border-radius: 5px;
    border-style: solid;
    /* border-color: orange; */
    /* padding: 4px; */
    text-align: center;
    background-color: var(--color1);
    margin: 5px;
    /* float:left;
    display:inline; */
}

.whiteOut {
    /* color: white;
    background-color: white; */
    animation-name: whiteOut;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.mouseOn {
    /* background-color: lightblue; */
    cursor: pointer;
}

@keyframes whiteOut {
    from {background-color: white;}
    to {background-color:var(--color1);}
  }

  .whiteText {
    /* color: white;
    background-color: white; */
    animation-name: whiteText;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes whiteText {
    from {color: white;}
    to {color: black;}
  }