:root {
    --length: 259;
    --color1: blue;
}

body {
    background-image: url("background.jpg");
}

h1 {
    font: optional;
}

#headerContainer {
    top:0px;
    margin: auto;
    width: fit-content;
    font-size:xx-large;
    text-align: center;
    color:white;
    border-radius: 5px;
    border-style: solid;
    border-color: red;
}

.headerContainer {
    background-color: black;
}

.infoCard {
    bottom:0px;
    margin:auto;
    width:fit-content;
    font-size: x-large;
    background-color: black;
    padding: 10px;
    border-radius: 1px;
    border-style: solid;
    text-align: center;
    text-decoration: underline;
    color: red;
    text-decoration-color: blue;
    border-color: green;
}

#pageContainer {
    width: 100%;
}

.pageContainer {
    /* background-color: aqua; */
}

.text {
    color: white;
    font-size: 20px;
}

#displayedImage {
    margin-left: 25%;
    width: 50%;
    border-radius: 5px;
    border-style: solid;
}

/* #menuContainer {
    background-color: greenyellow;
} */

#menuItems {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.picture {
    width: 100px;
    height: 100px;
}

.menuItem {
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
    background-color: var(--color1);
    margin: 5px;
}

.whiteOut {
    animation-name: whiteOut;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.mouseOn {
    cursor: pointer;
}

@keyframes whiteOut {
    from {background-color: white;}
    to {background-color:var(--color1);}
  }

  .whiteText {
    animation-name: whiteText;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes whiteText {
    from {color: white;}
    to {color: black;}
  }